.event {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  text-align: center;
}

.description {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 12px;
  background: #ebf0f6;
  color: #1f2d3d;
  padding: 12px 16px;
  font-size: 14px;
  max-width: 247px;
  width: 100%;
}

.above {
  top: -100px;
}

.below {
  top: 60px;
}


.year {
  margin-top: 8px;
  border-radius: 12px;
  background: #1d6ada;
  padding: 4px 20px;
  color: white;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.72px;
  z-index: 2;
}
