.see {
  color: #009218;
  text-align: center;
  font-size: 8.986px;
  font-style: normal;
  font-weight: 500;
  line-height: 11.794px;
  letter-spacing: 0.359px;
}

.seeMore {
  display: flex;
  align-items: center;
  gap: 5px;
  width: 100%;
  justify-content: flex-end;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 10px 12px 12px 12px;
  border-radius: 10px;
  background-color: #dbf7e0;
  width: 100%;
  max-width: 307px;
  margin: 0 10px;
  cursor: pointer;

}

.title {
  color: #022466;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.64px;
}

.description {
  color: #002253;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
