.container {
  display: flex;
  flex-direction: column;
  gap: 11px;
  width: 100%;
  max-width: 220px;
  align-items: center;
}

.title {
  color: #022466;
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 4%;
}

.description {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
}
