.timeline {
  position: relative;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 100px 20px;

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 1px;
    background-color: rgba(29, 106, 218, 0.50);
  }
}

